{% extends 'base.html' %} {% load static %} {% block content %}
<div
  class="hero-wrap hero-wrap-2"
  style="
    background-image: url({% static 'images/bg_2.jpg' %});
    background-attachment: fixed;
  "
>
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text align-items-center justify-content-center"
      data-scrollax-parent="true"
    >
      <div class="col-md-8 ftco-animate text-center">
        <p class="breadcrumbs">
          <span class="mr-2"><a href="{% url 'index' %}">Home</a></span>
          <span>About</span>
        </p>
        <h1 class="mb-3 bread">About</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section">
  <div class="container">
    <div class="row d-flex">
     {% for ab in ab1 %}
      <div class="col-md-6 d-flex ftco-animate">
        <div
          class="img img-about align-self-stretch"
          style="background-image: url({{ ab.image.url }}); width: 100%"
        ></div>
      </div>
      <div class="col-md-6 pl-md-5 ftco-animate">
        <h2 class="mb-4">{{ ab.title }}</h2>
        <p>
          {{ ab.text }}
        </p>
        <p>
           {{ ab.text }}
        </p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section
  class="ftco-section-3 img"
  style="background-image: url({% static 'images/bg_3.jpg' %})"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row d-md-flex justify-content-center">
      <div class="col-md-9 about-video text-center">
        <h2 class="ftco-animate">
          Genius University is a Leading Schools Around the World
        </h2>
        <div class="video d-flex justify-content-center">
          <a
            href="{% static 'https://vimeo.com/45830194' %}"
            class="button popup-vimeo d-flex justify-content-center align-items-center"
            ><span class="ion-ios-play"></span
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ftco-counter bg-light" id="section-counter">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="row">
          {% for son1 in key1  %}
          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="{{ son1.son }}">0</strong>
                <span>{{ son1.nomi }}</span>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section testimony-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-4">What Our Student Says</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 ftco-animate">
        <div class="carousel-testimony owl-carousel">
          {% for fikr in fikr1 %}
          <div class="item">
            <div class="testimony-wrap text-center">
              <div
                class="user-img mb-5"
                style="background-image: url({{ fikr.image.url }})"
              >
                <span
                  class="quote d-flex align-items-center justify-content-center"
                >
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text">
                <p class="mb-5">
                  {{ fikr.text }}
                </p>
                <p class="name">{{ fikr.name }}</p>
                <span class="position">{{ fikr.kimligi }}</span>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section-parallax">
  <div class="parallax-img d-flex align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div
          class="col-md-7 text-center heading-section heading-section-white ftco-animate"
        >
          <h2>Subcribe to our Newsletter</h2>
          <p>
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts. Separated they
            live in
          </p>
          <div class="row d-flex justify-content-center mt-5">
            <div class="col-md-8">
              <form action="#" class="subscribe-form">
                <div class="form-group d-flex">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter email address"
                  />
                  <input type="submit" value="Subscribe" class="submit px-3" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
