{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div
      class="hero-wrap"
      style="
        background-image: url({% static 'images/bg_1.jpg' %});
        background-attachment: fixed;
      "
    >
      <div class="overlay"></div>
      <div class="container">
        <div
          class="row no-gutters slider-text align-items-center justify-content-center"
          data-scrollax-parent="true">
          <div class="col-md-8 ftco-animate text-center">
            <h1 class="mb-4">
              Dang`ara tumani
            </h1>
            <p>
              <p class="btn btn-primary px-4 py-3">4-Umumiy o`rta ta`lim maktabining</p>
              <p class="btn btn-secondary px-4 py-3">Rasmiy web sahifasiga hush kelibsiz...</p>
            </p>
          </div>
        </div>
      </div>
    </div>
    <section class="ftco-section">
      <div class="container">
        <div class="row">
          {% for new in news %}
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services p-3 py-4 d-block text-center">
              <div
                class="icon d-flex justify-content-center align-items-center mb-3"
              >
                <span class="{{ new.icon }}"></span>
              </div>
              <div class="media-body px-3">
                  <h3 class="heading">{{ new.title }}</h3>

                  <p>
                  {{ new.text }}
                  </p>
              </div>
            </div>
          </div>
          {% endfor %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      class="ftco-section-3 img"
      style="background-image: url({% static 'images/bg_3.jpg' %})"
    >
      <div class="overlay"></div>
      <div class="container">
        <div class="row d-md-flex justify-content-center">
          <div class="col-md-9 about-video text-center">
            <h2 class="ftco-animate">
              Genius University is a Leading Schools Around the World
            </h2>
            <div class="video d-flex justify-content-center">
              <a
                href="{% static 'https://vimeo.com/45830194' %}"
                class="button popup-vimeo d-flex justify-content-center align-items-center"
                ><span class="ion-ios-play"></span
              ></a>
            </div>
          </div>
        </div>
      </div>
    </section>


<!--     raqamlardi boshanishi-->


    <section class="ftco-counter bg-light" id="section-counter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10">
            <div class="row">
              {% for son1 in key1  %}
              <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">

                <div class="block-18 text-center">
                  <div class="text">
                    <strong class="number" data-number="{{ son1.son }}">0</strong>
                    <span>{{ son1.nomi }}</span>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
<!--raqamlardi tugashi-->


        <section class="ftco-section testimony-section">
      <div class="container">
      	<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">What Our Student Says</h2>
          </div>
        </div>
        <div class="row">
        	<div class="col-md-12 ftco-animate">
            <div class="carousel-testimony owl-carousel">
              {% for k in key %}
                <div class="item">
                  <div class="testimony-wrap text-center">
                    <div class="user-img mb-5" style="background-image: url({{ k.image.url }})">
                      <span class="quote d-flex align-items-center justify-content-center">
                        <i class="icon-quote-left"></i>
                      </span>
                    </div>
                    <div class="text">
                      <p class="mb-5">{{ k.text }}</p>
                      <p class="name">{{ k.name }}</p>
                      <span class="position">{{ k.kimligi }}</span>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Bizning tajribali o`qituvchilardan maslahat!</h2>
          </div>
        </div>
        <div class="row">
          {% for tech in techs %}
          <div class="col-lg-4 mb-sm-4 ftco-animate">
            <div class="staff">
              <div class="d-flex mb-4">

                <div
                  class="img"
                  style="background-image: url({{ tech.image.url }})"
                ></div>

                <div class="info ml-4">
                  <h3>
                    <a href="{% url 'teacherdetail' tech.pk %}"
                      >{{ tech.name }}</a
                    >
                  </h3>
                  <span class="position">{{ tech.darajasi}}</span>
                  <p class="ftco-social d-flex">
                    <a
                      href="{{ tech.telegram }}" target="_blank"
                      class="d-flex justify-content-center align-items-center"
                      ><span class="icon-telegram"></span
                    ></a>
                    <a
                      href="{{ tech.twitter }}" target="_blank"
                      class="d-flex justify-content-center align-items-center"
                      ><span class="icon-twitter"></span
                    ></a>
                    <a
                      href="{{ tech.facebook }}" target="_blank"
                      class="d-flex justify-content-center align-items-center"
                      ><span class="icon-facebook"></span
                    ></a>
                    <a
                      href="{{ tech.instagram }}" target="_blank"
                      class="d-flex justify-content-center align-items-center"
                      ><span class="icon-instagram"></span
                    ></a>
                  </p>
                </div>
              </div>
              <div class="text">
                <p>
                  {{ tech.text}}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </section>

    <section class="ftco-freeTrial">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex align-items-center">
              <div class="free-trial ftco-animate">
                <h3>Try our free trial course</h3>
                <p>
                  Even the all-powerful Pointing has no control about the blind
                  texts it is an almost unorthographic life
                </p>
              </div>
              <div class="btn-join ftco-animate">
                <p>
                  <a href="#" class="btn btn-primary py-3 px-4">Join now!</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Our Courses</h2>
          </div>
        </div>
        <div class="row">
          {% for kurs in key2 %}
          <div class="col-md-4 d-flex ftco-animate">
            <div class="course align-self-stretch text-center" style="width:100%">
              <a
                href="#"
                class="img"
                style=" background-image: url({{ kurs.image.url }})"
              ></a>
              <div class="text p-4">
                <p class="category"><span>{{ kurs.davomiyligi }}</span></p>
                <h3 class="mb-3"><a href="#">{{ kurs.fan_nomi }}</a></h3>
                <p>
                  {{ kurs.text }}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="row justify-content-center mt-5">
        </div>
      </div>
    </section>

    <section class="ftco-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Ajoyib lavhalar!</h2>
          </div>
        </div>
        <div class="row d-flex">
          {%  for blog1 in key3 %}
          <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a
                href="blog-single.html"
                class="block-20"
                style="background-image: url({{ blog1.image.url }})"
              >
              </a>
              <div class="text p-4 d-block">
                <div class="meta mb-3">
                  <div><a href="#">{{ blog1.note }}</a></div>
                  <div><a href="#">Admin</a></div>
                  <div>
                    <a href="#" class="meta-chat"
                      ><span class="icon-chat"></span> 3</a
                    >
                  </div>
                </div>
                <h3 class="heading mt-3">
                  <a href="#">How to standout at start of your UX Career</a>
                </h3>
                <p>
                  {{ blog1.text }}
                </p>
              </div>
            </div>
          </div>
         {%  endfor %}
        </div>
      </div>
    </section>

    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">So`nggi tadbirlarimizdan lavhalar!</h2>
          </div>
        </div>
        <div class="row">
          {% for event1 in key4 %}
          <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <p
                class="block-20"
                style="background-image: url({{ event1.image.url }})"
              >
              </p>
              <div class="text p-4 d-block">
                <div class="meta mb-3">
                  <div><p>{{ event1.note }}</p></div>
                </div>
                <h3 class="heading mb-4">
                  <p>{{ event1.title }}</p>
                </h3>
                <p class="time-loc">
                  <span class="mr-2"
                    ><i class="icon-clock-o"></i>{{ event1.vaqt }}</span
                  >
                  <span><i class="icon-map-o"></i>{{ event1.joyi }}</span>
                </p>
                <p>
                  {{ event1.text }}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section-parallax">
      <div class="parallax-img d-flex align-items-center">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div
              class="col-md-7 text-center heading-section heading-section-white ftco-animate"
            >
              <h2>Subcribe to our Newsletter</h2>
              <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia, there live the blind texts. Separated
                they live in
              </p>
              <div class="row d-flex justify-content-center mt-5">
                <div class="col-md-8">
                  <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter email address"
                      />
                      <input
                        type="submit"
                        value="Subscribe"
                        class="submit px-3"
                      />
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}